body {
  background-color: rgb(238, 77, 45);
}
table {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial";
  background-color: #ffff;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid #ffff;
  border-radius: 10px;
}
td {
  color: #000;
  border-bottom: 1px solid #ddd;
}

.border1 {
  border-bottom: none;
}
span {
  color: rgb(238, 77, 45);
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

p {
  color: rgb(109, 107, 107);
}
.shopee-logo {
  width: 100px;
}
